<article class="sidebar">
  <h1 class="sidebar-title">At a Glance</h1>
  <p class="sidebar-body">
    Some reference photos for the work I have done.
  </p>
  <div class="pixgrid clearfix">

    <%artwork.forEach(function(item, key) { %>
        <img src="/images/artwork/<%=item%>" alt="Artwork <%=key%>" />
    <%})%>
  </div>
</article>
