<%- include("./partials/topSpeakers") %>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <article class="article maincontent">
        <h1>Who am I?</h1>
        <p>
          My name is Andrew Thul, I am a graduate of Illinois State University
          for the Creative Technologies program. I currently work as an
          Assistant Technical Director of Productions at ISU, but I also explore
          software development and coding in a variety of different languages in
          my spare time. I also have a cat named Pearl, but she can only code in
          Python so I like to give her a hard time.
        </p>
        <p>
          I&apos;m currently a Master's Student in Creative Technologies at ISU,
          but I&apos;m open to part time work or a new career if the right
          opportunity presents itself.
        </p>
      </article>
      <article class="article maincontent">
        <h2 class="article-title">Reach out!</h2>
        <p>
          If you want to learn more about me
          <a href="http://www.linkedin.com/in/andrew-thul"
            >visit my LinkedIn page</a
          >, or <a href="mailto:thulio63@gmail.com"> send me an email</a>
          if you would like to have a conversation.
        </p>
        <p>
          <img
            class="speakerslist-img rounded-circle"
            src="/images/speakers/Headshot.jpg"
            alt="A picture of me."
          />
        </p>
      </article>
    </div>

    <aside class="col-md-4">
      <article class="sidebar">
        <h1 class="sidebar-title">Notable Skills</h1>
        <ul class="sidebar-body">
          <li>
            The ability to quickly learn and incorporate new techniques in my
            work.
          </li>
          <li>
            The self-motivation to quickly provide high-quality work with
            stellar service.
          </li>
          <li>
            The interpersonal skills to resolve conflicts and help workplace
            culture blossom.
          </li>
        </ul>
      </article>
      <%- include("./partials/artwork") %>
    </aside>
  </div>
</div>
